*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef2f7;
}

header{
    background:#0b1f3a;
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    font-size:32px;
    margin-bottom:8px;
}

header p{
    color:#d6dce8;
}

.hero,
.login-container,
.dashboard{
    width:90%;
    max-width:1100px;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
}

.hero{
    text-align:center;
}

.hero h2{
    margin-bottom:20px;
}

.hero p{
    margin-bottom:30px;
}

.login-container{
    max-width:450px;
}

.login-container h1,
.login-container h2{
    text-align:center;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    width:100%;
    padding:14px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.dashboard h2{
    text-align:center;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.card{
    background:#f8fafc;
    padding:30px;
    border-radius:12px;
    text-align:center;
    transition:.3s;
    border-left:6px solid #2563eb;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#0b1f3a;
    margin-bottom:15px;
}

.card p{
    font-size:18px;
    font-weight:bold;
    color:#2563eb;
}